dataset_preprocessing/movie_features.csv
dataset_preprocessing/movie_features1.csv
dataset_preprocessing/rating_features.csv
dataset_preprocessing/rating_features1.csv
dataset_preprocessing/movie_features-small.csv
dataset_preprocessing/rating_features-small.csv
dataset_preprocessing/prepared_data
datasets/ml-25m

# ignore .torch files
*.torch

# ignore logs and models folders
logs/
models/

# Byte-compiled / optimized / DLL files
src/__pycache__/
*.py[cod]
*$py.class
.DS_Store
.vscode/
